<div class="container mt-2">
    <div class="row">
        <div class="col-sm mb-2">
            <h1>Let's go deep into history!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="~/img/Reply of the Zaporozhian Cossacks to Sultan.jpg" alt="sweet_teacher" class="rounded-2" style="max-width: 60%; height: auto;">
        </div>
    </div>
</div>