@model IEnumerable<TestApp.Models.Lesson>
@inject ILessonService service

<div class="container mb-2">
    <div class="row spacer">
        <div class="col-12 col-md-1 mt-2 mb-2">
            <a class="btn btn-primary a-btn-slide-text index-button" asp-controller="Lesson" asp-action="Add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span><strong>Add</strong></span>
            </a>
        </div>
        <div class="col-12 col-md-6 mt-2 mb-2">
            @*empty space*@
        </div>
        <div class="col-12 col-md-5 mt-2 mb-2">
            <input class="form-control" id="filterInput"/>
        </div>
    </div>
    @foreach (TestApp.Models.Lesson l in Model)
    {
        <div class="row spacer border border-primary align-items-center" style="background-color:@service.GetPaymentColorById(l.Id)">


            <div class="col-12 col-md-5" id="lesson-item">
                    Student: @service.GetStudentNameById(l.StudentId)
            </div>

            <div class="col-12 col-md-5">
                    @l.ToString()
            </div>


            <div class="col-12 col-md-1 mt-2 mb-2">
                <a class="btn btn-primary a-btn-slide-text index-button" asp-controller="Lesson" asp-action="Edit" asp-route-id="@l.Id">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span><strong>Edit</strong></span>
                </a>
            </div>
            <div class="col-12 col-md-1 mt-2 mb-2">
                <a class="btn btn-primary a-btn-slide-text index-button" asp-controller="Lesson" asp-action="Delete" asp-route-id="@l.Id">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span><strong>Delete</strong></span>
                </a>
            </div>
        </div>
    }
</div>
<script src="~/lesson-filer.js"></script>

