<div class="container mt-2">
    <div class="row">
        <div class="col-sm p-2">
            <a asp-controller="Statistics" asp-action="Students" class="link-info">Студенты</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm p-2">
            <a href="#" class="link-info">Занятия</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm p-2">
            <a href="#" class="link-info">Оплата</a>
        </div>
    </div>
</div>