<div class="container">
    <div class="row spacer border border-primary" style="height: 54px; vertical-align: central;">
        <div class="col-12 col-md-10 align-self-center">
            <a asp-controller="Statistics" asp-action="Students" class="link-info">Студенты</a>
        </div>
    </div>
    <div class="row spacer border border-primary" style="height: 54px; vertical-align: central;">
        <div class="col-12 col-md-10 align-self-center">
            <a href="#" class="link-info">Занятия</a>
        </div>
    </div>

    <div class="row spacer border border-primary" style="height: 54px; vertical-align: central;">
        <div class="col-12 col-md-10 align-self-center">
            <a asp-controller="Statistics" asp-action="Students" class="link-info">Студенты</a>
        </div>
    </div>
</div>