<div class="container mt-2">
    <div class="row">
        <div class="col-sm">
            <img src="~/img/teacher.jpg" alt="sweet_teacher" class="img-thumbnail" style="max-width: 30%; height: auto;">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Пожалуй лучший учитель истории из много-сущестовавших</p>
            
            <p class="mt-5">P.S.: Только немного бешенный, но об этом знают немногие...</p>
            
        </div>
    </div>
</div>