@model TestApp.Models.Student

    <script src="autocomplete.js"></script>
    <div class="container">
        <div class="spacer index-button-long mt-2">
            <a class="btn btn-primary a-btn-slide-text" asp-controller="Student" asp-action="Index">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span><strong>Обратно</strong></span>
            </a>
        </div>
        <form action="Add" method="post">
            <div class="form-group mt-2">
                <label asp-for="School">Школа</label>
                <input id="Language" class="form-control" name="School" />
            </div>
            <div class="form-group mt-2">
                <label asp-for="Grade">Класс</label>
                <input class="form-control" name="Grade" />
            </div>
            <div class="form-group mt-2">
                <label asp-for="DesiredUniversity">Вуз для поступления</label>
                <input class="form-control" name="DesiredUniversity" />
            </div>
            <div class="form-group mt-2">
                <label asp-for="PhoneNumber">Контактый телефон</label>
                <input class="form-control" name="PhoneNumber" />
            </div>
            <button type="submit" class="btn btn-primary index-button-long mt-2">Отправить!</button>
        </form>
    </div>

